<a href="/">back</a>

<div ng-controller="ChannelCtrl" class="container">
    <div class="row">
        <img class="channel-thumb pull-left media-object img-responsive" ng-src="{{model.channel.thumbnails.medium.url}}">
        <div>
            <h2>{{model.channel.title}}</h2>
            <span ng-show="{{model.channel.created}}"><small>created {{model.channel.created | timeago}} on {{model.channel.created | date}}</small></span>
            <div>
                <span class="label label-primary" ng-show="!model.channel.statistics.hiddenSubscriberCount && model.channel.statistics.subscriberCount" title="Subscribers">
                    <i class="fa fa-group"></i> {{(!model.channel.statistics.hiddenSubscriberCount ? model.channel.statistics.subscriberCount : 0) | number}}
                </span>
                <span>&nbsp;</span>
                <span class="label label-primary" ng-show="model.channel.statistics.videoCount" title="Videos">
                    <i class="fa fa-film"></i> {{model.channel.statistics.videoCount | number}}
                </span>
                <span>&nbsp;</span>
                <span class="label label-primary" ng-show="model.channel.statistics.viewCount" title="Total Views">
                    <i class="fa fa-eye"></i> {{model.channel.statistics.viewCount | number}}
                </span>
                <span>&nbsp;</span>
                <span class="label label-primary" ng-show="model.channel.statistics.commentCount" title="Commented {{model.channel.statistics.commentCount | number}} times">
                    <i class="fa fa-comment"></i> {{model.channel.statistics.commentCount | number}}
                </span>    
            </div>
        </div>   
        
        <hr>
        
        
        <hr>
        
        <div ng-bind-html-unsafe="model.channel.description"></div>
    </div>
    
    <div class="row">        
        <ul class="ca-menu">
            <li ng-show="model.channel.specialPlaylists.uploads">
                <playlist-link id="model.channel.specialPlaylists.uploads">
                    <i class="ca-icon fa fa-video-camera fa-3x"></i>
                    <h2 class="ca-main">Uploads</h2>
                </playlist-link>
            </li>
            <li ng-show="model.channel.specialPlaylists.likes">
                <playlist-link id="model.channel.specialPlaylists.likes">
                    <i class="ca-icon fa fa-thumbs-o-up fa-3x"></i>
                    <h2 class="ca-main">Likes</h2>
                </playlist-link>
            </li>
            <li ng-show="model.channel.specialPlaylists.favorites">
                <playlist-link id="model.channel.specialPlaylists.favorites">
                    <i class="ca-icon fa fa-heart-o fa-3x"></i>
                    <h2 class="ca-main">Favorites</h2>
                </playlist-link>        
            </li>
            <li ng-show="model.channel.specialPlaylists.watchLater">
                <playlist-link id="model.channel.specialPlaylists.watchLater">
                    <i class="ca-icon fa fa-clock-o fa-3x"></i>
                    <h2 class="ca-main">Watch later</h2>
                </playlist-link>        
            </li>
            <li ng-show="model.channel.specialPlaylists.watchHistory">
                <playlist-link id="model.channel.specialPlaylists.watchHistory">
                    <i class="ca-icon fa fa-film fa-3x"></i>
                    <h2 class="ca-main">Watch history</h2>
                </playlist-link>        
            </li>
        </ul>
    </div>
</div>